img{
    width: 500px;
    border-radius: 50%;
}

body {
    background-color: #EDE7D9;
    max-width: 500px;
    margin: auto;
}
h1 {
    font-family: cursive;
    font-size: 80px;
}

h2 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
